/* font start */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* font end */

/* common and utilities tag start here */

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

:root{
    --common-color: #DD0000;
}

h1{
    font-size: 3rem;
}

.btn{
    color: #ffffff;
    text-decoration: none;
    background-color: var(--common-color);
    padding: 1em 1.8em;
    border-radius: 0.5em;
}

/* common and utilities tag end here */

/* header section start here */

.header{
    width: 97%;
    margin: 1.7em auto;
    transition: transform 0.2s ease;
}

.header:hover{
    transform: scale(1.02);
}

.top-section{
    display: flex;
    background-color: #161616;
    color: #ffffff;
    align-items: center;
    border-radius: 1.25em;
}

.half-width{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div003 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 33em;
    height: 26.5em;
}

.div003 h1{
    margin: -5px;
    padding: 0.8em 0;
}

.div002 img{
    width: 80%;
}

/* header section end here */

/* first section start here */

.flexiable {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.menu-bar {
    background-color: #000;
    width: 19.5em;
    height: 19.5em;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    border-radius: 1.25em;
    margin-right: 1.5em;
    justify-content: center;
}

.menu{
    color: #000;
    font-size: 1rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #ffffff;
    width: 15.75em;
    height: 4em;
    margin-top: 1.87em;
    border-radius: 0.7em;
    transition: all 0.3s ease;
}

.menu:hover{
    transform: scale(1.1);
    background-color: var(--common-color);
    color: #ffffff;
}

.menu-blog{
    transform: scale(1.1);
    background-color: var(--common-color);
    color: #ffffff;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5em;
}

.blog{
    height: 22.5em;
    width: 19.5em;
    background-color: #ffffff;
    border-radius: 0.6em;
    box-shadow: 1px 3px 10px rgb(218, 208, 208);
    transition: transform 0.2s ease;
}

.blog:hover{
    transform: scale(1.02);
}

.blog img {
    width: 100%;
}
.blog-info{
    padding-left: 0.6em;
    margin-top: 0.4em;
}

.blog-info span {
    padding-right: 0.6em;
}

.btn-2 {
    color: #000;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 1em;
    padding: 5px 10px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.btn-2:hover{
    background-color: var(--common-color);
    color: #ffffff;
    border: 2px solid var(--common-color);
}

/* first section end here */

/* button only for tablet devices start */

.only-tab{
    display: none;
}

.tab-btn{
    display: flex;
    justify-content: center;
    margin: 3em 0;
}

.btn-3 {
    background-color: var(--common-color);
    padding:0.6em 1.5em;
    border-radius: 1em;
    text-decoration: none;
    color: #d8cbcb;
    font-weight: 600;
    font-size: 1em;
}

/* button only for tablet devices end */

/* footer start here */

.footer{
    background-color: #161616;
    color: #ffffff;
    margin-top: 10vh;
}

.footer-half{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-half h2 {
    font-size: 2em;
    padding: 1em 0;
}

.hr{
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 0 9em;
}

.footer-menu{
    display: flex;
    margin-bottom: 1em;
}

.footer-menu a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
    font-size: 1em;
    transition: all 0.3s;
}

.footer-menu a:hover {
    color: var(--common-color);
}

.footer-menu h5 {
    padding: 10px;
    font-size: 1rem;
    font-weight: 400;
}

.footer-icon a i {
    color: #ffffff;
    font-size: 2em;
    padding: 0 1em 1em 1em;
    transition: all 0.3s;
}

.footer-icon a i:hover {
    color: var(--common-color);
}

/* footer end here */

/* mobile devices start here */

@media only screen and (max-width: 688px) {
    .top-section{
        flex-direction: column;
    }

    .div003{
        width: 19em;
        height: 13em;
        align-items: center;
        margin: 2em
    }
    .div003 p{
        width: 16em;
        height: 3em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .div002 img {
        width: auto;
    }
    .div003 h1{
        font-size: 1.5em;
        text-align: center;
    }
    .flexiable{
        flex-direction: column;
        align-items: center;
    }

    .menu-bar{
        background-color: #ffffff;
        margin-right: 0;
    }

    .menu{
        box-shadow: 1px 1px 10px lightgray;
    }

    .blogs{
        grid-template-columns: repeat(1, 1fr);
    }

    .footer-menu{
        flex-direction: column;
        align-items: center;
    }
    .hr{
        margin: 0 2em;
    }

    .footer-icon a i {
        font-size: 1em;
    }

}

/* mobile devices end here */

/* tablet divices start here */

@media screen and (min-width: 689px) and (max-width: 992px) {
    h1 {
        font-size: 2em;
    }

    .div003{
    width: 18em;
    height: 25em;
    }
    .flexiable{
        flex-direction: column;
        align-items: center;
    }

    .menu-bar{
        background-color: #ffffff;
        margin-right: 0;
        flex-direction: row;
        justify-content: center;
        height: 10em;
        width: 48em;
        margin-bottom: 1.5em;
    }
    .menu{
        box-shadow: 1px 1px 10px lightgray;
        width: 14em;
        margin: 0.5em;
    }
    .blogs{
        grid-template-columns: repeat(2, 1fr);
        gap: 3em;
    }

    .only-tab{
        display: block;
    }


    .hr{
        margin: 0 2em;
    }

    .footer{
    margin-top: 4vh;
    }


    .footer-icon a i {
        font-size: 1.5em;
    }

}

/* tablet divices end here */