/* matches start here */

.menu-match {
    transform: scale(1.1);
    background-color: var(--common-color);
    color: #ffffff;
}

.matches{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5em
}

.match{
    width: 19.5em;
    height: 15em;
    box-shadow: 1px 2px 10px rgb(218, 218, 218);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1em;
}

.flags{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flags img{
    width: 6em;
    height: 3.3em;
    margin: 2em 1.5em;
}

/* matches end here */

/* mobile devices responsive start here */

@media only screen and (max-width: 688px){
    .matches{
        grid-template-columns: repeat(1, 1fr);
    }
}

/* mobile devices responsive end here */

/* tablet divices responsive start here */

@media screen and (min-width: 689px) and (max-width: 992px){
    .matches{
        grid-template-columns: repeat(2, 1fr);
    }
}

/* tablet divices responsive end here */